@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 114.49px;
    padding-right: 114.49px;
    padding-top: 44.98px;
}
header> .nav-links a{
    color: #000;
    text-decoration: none;
    padding:16px;
   
}
header a:hover{
    text-decoration: underline;
}
.design h1{
    color: yellow;
}